Repository macrat/blanktar, changes with the labels that .github/labeler.yml gives for each.
All labels: 記事, リポジトリ管理

.github/labeler.yml:

記事:
  - pages/blog/**/*

リポジトリ管理:
  - .github/**/*
  - README.md

perf: set cache-control headers
  builder/autoindex.go
  builder/main.go
  config.json
Labels: none

chore: update packages
  builder/go.mod
  builder/go.sum
Labels: none

chore(CI): update action versions
  .github/workflows/ci.yml
Labels: リポジトリ管理

article: write an article about write text on a image using golang
  pages/blog/2024/02/golang-write-text-on-image.md
  pages/blog/2024/02/golang-write-text-on-image/english-oneline.jpg
  pages/blog/2024/02/golang-write-text-on-image/japanese-auto-multiline.jpg
  pages/blog/2024/02/golang-write-text-on-image/japanese-multiline.jpg
  pages/blog/2024/02/golang-write-text-on-image/japanese-oneline.jpg
Labels: 記事

design: optimize tap target sizes
  templates/base.html
  templates/blog/index.html
Labels: none

article: add about font file
  pages/blog/2024/02/golang-write-text-on-image.md
Labels: 記事

chore(CI): disable some rules of lighthouse
  .github/lighthouse.json
Labels: リポジトリ管理

article: merge tags of old articles
  pages/blog/2018/01/goyacc-simplexer-make-original-language.md
  pages/blog/2018/09/raspberrypi-golang-hdc1000-fluent.md
Labels: 記事

refactor: go fmt
  builder/autoindex.go
Labels: none

design: change page design using tombo again
  builder/markdown.go
  pages/print.css
  templates/base.html
  templates/blog/post.html
Labels: none

design: add font settings
  templates/base.html
Labels: none

design: fix contrast issue in blog index page
  templates/blog/index.html
Labels: none

design: fix indent in article
  pages/blog/2024/02/golang-write-text-on-image.md
  templates/base.html
Labels: 記事

article: fix indent
  pages/blog/2024/01/golang-read-write-exif.md
  pages/blog/2024/02/golang-write-text-on-image.md
Labels: 記事

design: add margin of title for printing
  pages/print.css
Labels: none

design: remove gradient from code block in printing layout
  builder/markdown.go
Labels: none

design: enable smooth-scroll and remove vertical center tombo
  templates/base.html
Labels: none

article: write an article about sending email via GAS
  pages/blog/2024/03/send-emails-via-google-spreadsheet.md
  pages/blog/2024/03/send-emails-via-google-spreadsheet/dialog-says-this-app-is-not-confirmed-by-google.jpg
  pages/blog/2024/03/send-emails-via-google-spreadsheet/execute-apps-script-button.jpg
  pages/blog/2024/03/send-emails-via-google-spreadsheet/how-to-open-apps-script.jpg
  pages/blog/2024/03/send-emails-via-google-spreadsheet/reservation-spreadsheet.jpg
  pages/blog/2024/03/send-emails-via-google-spreadsheet/trigger-in-apps-script-sidebar.jpg
Labels: 記事

chore(builder): update dependencies
  builder/go.mod
  builder/go.sum
Labels: none

article: fix typo and expressions
  pages/blog/2024/03/send-emails-via-google-spreadsheet.md
Labels: 記事

fix(builder): fix not found page handling
  builder/autoindex.go
Labels: none

fix(builder): fix syntax of config for Vercel
  builder/autoindex.go
Labels: none

feat(SEO): add canonical tag
  templates/base.html
Labels: none

feat(seo): add LD-JSON for some pages
  builder/autoindex.go
  builder/photos.go
  builder/template.go
  templates/blog/index.html
  templates/blog/month.html
  templates/blog/post.html
  templates/blog/year.html
  templates/default.html
  templates/photos/detail.html
  templates/photos/index.html
Labels: none

feat(seo): add some redirect settings for blog path
  config.json
Labels: none

design: fix page height for short pages
  templates/base.html
Labels: none

design: remove photos license
  builder/photos.go
  templates/photos/detail.html
  templates/photos/index.html
Labels: none

design(photos): change page title of photo detail page
  templates/photos/detail.html
Labels: none

feat(builder): support licensing images in blog posting
  builder/markdown.go
  pages/blog/2024/01/blanktar-renewal.md
  pages/blog/2024/01/golang-resize-image.md
  templates/index.html
Labels: 記事

article: fix an old article
  pages/blog/2013/04/what-is-uint16.md
Labels: 記事

article: add more information to the old post
  pages/blog/2013/04/what-is-uint16.md
Labels: 記事

article: write about unpublished software named star
  pages/blog/2013/04/next-star.md
Labels: 記事

photos: add photos from Hakone trip
  2024/hakone-book-hotel.jpg
  2024/hakone-dark-tunnel.jpg
  2024/hakone-gora-station.jpg
  2024/hakone-large-tunnel.jpg
  2024/hakone-morning-sun-light.jpg
  2024/odawara-daiyuzan-cafe-table.jpg
Labels: none

chore: update build dependencies
  builder/go.mod
  builder/go.sum
Labels: none

design: implement view-transition
  builder/template.go
  templates/base.html
  templates/blog/index.html
  templates/blog/month.html
  templates/blog/post.html
  templates/blog/tagpage.html
  templates/blog/year.html
  templates/photos/detail.html
  templates/photos/index.html
Labels: none

article: update article about bluetooth pairing on dual boot environment
  pages/blog/2020/10/dual-boot-bluetooth.md
Labels: 記事

article: fix link in the article
  pages/blog/2020/10/dual-boot-bluetooth.md
Labels: 記事

article: fix mistake in section title
  pages/blog/2014/10/python3-convert-int-bytes.md
Labels: 記事

chore: update build dependencies
  builder/go.mod
  builder/go.sum
Labels: none

chore: update go version
  .github/workflows/ci.yml
  builder/go.mod
  builder/go.sum
Labels: リポジトリ管理
