Repository macrat/blanktar, changes with the labels that .github/labeler.yml gives for each.
All labels: 記事, リポジトリ管理

article: add OGP image
  pages/blog/2024/01/blanktar-renewal.jpg
  pages/blog/2024/01/blanktar-renewal.md
Labels: 記事

article: fix two column layout in article
  pages/blog/2024/01/blanktar-renewal.md
Labels: 記事

perf: add rel=preload tag for images
  builder/article.go
  builder/markdown.go
  templates/base.html
  templates/blog/post.html
  templates/default.html
Labels: none

perf: disable loading=lazy for img in markdown articles
  builder/markdown.go
Labels: none

article: change diagram design in the renewal article
  pages/blog/2024/01/blanktar-renewal/image-building-flow.svg
Labels: 記事

design: add stylesheet for printing
  builder/converter.go
  builder/main.go
  pages/print.css
  templates/base.html
  templates/blog/index.html
  templates/blog/post.html
  templates/photos/index.html
Labels: none

design: set multi column layout for printing
  pages/print.css
Labels: none

design: improve print stylesheet
  builder/article.go
  builder/converter.go
  builder/go.mod
  builder/go.sum
  builder/qr/qr.go
  pages/blog/2024/01/blanktar-renewal.md
  pages/print.css
  templates/base.html
  templates/blog/index.html
  templates/blog/month.html
  templates/blog/post.html
  templates/blog/year.html
  templates/default.html
Labels: 記事

fix: builders race condition in template loader
  builder/template.go
Labels: none

perf: separate common stylesheet from each html
  pages/style.css
  templates/base.html
  templates/blog/index.html
  templates/blog/month.html
  templates/blog/post.html
  templates/blog/tagindex.html
  templates/blog/tagpage.html
  templates/blog/year.html
  templates/index.html
  templates/photos/detail.html
  templates/photos/index.html
Labels: none

chore(SEO): add redirections from old URL to new URL
  vercel.json
Labels: none

feat: add 404 error page
  builder/article.go
  builder/autoindex.go
  pages/404.md
  templates/error.html
Labels: none

fix: file path for 404 page
  builder/errorpages.go
  builder/main.go
  pages/404.md
Labels: none

article: add an article about editing Exif by Go
  pages/blog/2024/01/golang-read-write-exif.md
Labels: 記事

article: add description of the new article
  pages/blog/2024/01/golang-read-write-exif.md
Labels: 記事

article: fix section title
  pages/blog/2024/01/golang-read-write-exif.md
Labels: 記事

chore: update builders dependencies
  builder/go.mod
  builder/go.sum
Labels: none

seo: add ProfilePage metadata to about page
  pages/about.md
Labels: none

fix(seo): remove invalid dateModified from LD+JSON
  templates/blog/post.html
  templates/default.html
Labels: none

perf: minify service worker remover script
  templates/base.html
Labels: none

article: write an article to resize image on Go
  pages/blog/2024/01/golang-resize-image.md
  pages/blog/2024/01/golang-resize-image/image-square-triming.svg
  pages/blog/2024/01/golang-resize-image/image-triming.svg
Labels: 記事

fix: fix URL in blog feed for SEO
  templates/blog/feed.xml
Labels: none

article: update popular articles
  pages/blog/2014/10/python3-convert-int-bytes.md
  pages/blog/2015/11/java-character-count.md
  pages/blog/2020/11/css-automate-foreground-text-color.md
  templates/blog/post.html
Labels: 記事

article: fix date for modtime
  pages/blog/2015/11/java-character-count.md
Labels: 記事

feat: add copy button for code block
  builder/article.go
  builder/errorpages.go
  builder/markdown.go
  templates/blog/post.html
Labels: none

design: change design of the copy button in code blocks
  builder/markdown.go
Labels: none

design: change margin for code blocks
  builder/markdown.go
Labels: none

feat: add basic security headers
  vercel.json
Labels: none

feat: WIP: change output directory structure to follow Vercel Build Output API
  .gitignore
  Makefile
  builder/article.go
  builder/autoindex.go
  builder/converter.go
  builder/errorpages.go
  builder/main.go
  builder/photos.go
  vercel.json
Labels: none

chore: fix CI for new output directory structure
  .github/lighthouse.json
  .github/workflows/ci.yml
Labels: リポジトリ管理

feat: support vercel dev
  Makefile
  builder/article.go
  builder/autoindex.go
  builder/main.go
  make
  vercel.json
Labels: none

fix: fix issue hidden path handling
  builder/fs/fs.go
  builder/source.go
Labels: none

feat: support to set headers for each individual pages
  builder/autoindex.go
  builder/main.go
  config.json
  vercel.json
Labels: none

fix: config.json syntax for Vercel build output configuration
  builder/autoindex.go
Labels: none

feat: set CSP header value
  builder/autoindex.go
  config.json
  pages/blog/2020/05/gandi-redirect-to-na-gcsip-com.md
  pages/blog/2020/11/powershell-use-generic-class.md
Labels: 記事

article: make CSP for embed tweet simpler
  pages/blog/2020/05/gandi-redirect-to-na-gcsip-com.md
  pages/blog/2020/11/powershell-use-generic-class.md
Labels: 記事

refactor: make config.json for Vercel simple
  builder/autoindex.go
Labels: none

feat: add settings to remove trailing slash to Vercel config
  builder/autoindex.go
Labels: none

perf: minify HTML more agressive
  builder/go.mod
  builder/go.sum
  builder/markdown.go
  builder/minify.go
  builder/minify_test.go
Labels: none

test: fix snapshot test
  builder/minify_test.go
Labels: none

.github/labeler.yml:

記事:
  - pages/blog/**/*

リポジトリ管理:
  - .github/**/*
  - README.md
